*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 background-color: #0d0e0f;
 color: #d8d5d5;
 font-size: 18px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  max-width: 800px;
  margin: auto;
  line-height: 35px;
  text-align: center;
}

#togetherjs{
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  float: right;
  margin-right: 60px;
  margin-top: -35%;
}

@media only screen and (max-width: 600px) {
  
  h1{
    font-size: 14px;
  }
  #togetherjs {
    margin-right: 10px;
    margin-top: -135%;
  }
}

h1 {
  margin: auto;
  text-align: center;
  margin-top: 30px;
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
}

textarea {
  max-width: 800px;
  width: 90%;
  height: 200px;
  color: #fff;
  outline: none;
  margin: 10% auto 5% auto;
  background-color: #080808;
  border: 3px solid #fa6908bd ;
  border-radius: 10px;
}

::placeholder { 
  text-align: center;
  padding-top: 10%;
}

input, select, textarea{
 color: #e4e4e4;
 padding: 20px;
 font-size: 18px;
 font-family: 'Courier New', Courier, monospace;
}

button {
  height: 50px;
  color: #727272;
  width: 100px;
  margin: -80px 0 30px 0;
  outline: none;
  background-color: #080808;
  border: 3px solid #fa6908bd ;
  border-radius: 10px;
  font-family: 'Courier New', Courier, monospace;
}

